body {
  background-color: white;
  margin: 0;
}
#header {
  position: absolute;
  background-color: #FF7F50;
  left:0px; top:0px; right:0; bottom:92px;
  height: 92px;
}
#sidebar {
  position:absolute;
  padding-top: 20px;
  margin: auto;
  text-align: center;
  background-color: #FF7F50;
  left:0; top:92px; bottom: 0;
  width: 270px;
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-style: normal;
  font-weight: 500;
}
#sidebar li, #sidebar a{
  list-style: none;
  color: white;
  font-size: 16pt;
  line-height: 3em;
  text-decoration: none;
}
#profile {
  display: inline-block;
  float: right;
  padding-right: 40px;
  line-height: 92px;
  color: white;
  font-size: 1.5em;
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-style: normal;
  font-weight: 500;
}
#profile img{
  display: inline-block;
  float: left;
}
#footer {
  font-size: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-style: normal;
  font-weight: 400;
  margin-left: 270px;
}
#trov {
  /*padding-left: 20px;*/
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#trov h2, #visitormain h2 {
  font-size: 2.25em;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
.troves h1, #visitormain h1, #auth h1 {
  font-size: 3em;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
.troves p {
  font-size: 1.25em;
  text-indent: 20px;
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-weight: 500;
}
#visitormain h1, #auth h1 {
  text-align: center;
}
#visitormain h2 {
  text-align: center;
}
#auth {
  position: absolute;
  left: 270px; top: 92px; right: 0px;
  margin-top: 7.5em;
  text-align: center;
}
.quest li {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
  list-style: none;
  text-indent: -1.25em;
}
.quest li:before {
  content: '★ ';
}
#visitormain, .troves{
  position: absolute;
  padding-top: 20px;
  padding-left: 40px;
  left:270px;
  top:92px;
}
#fb-button {
  width: 20em;
  margin: auto;
  margin-top: 5em;
}
#map {
  height: 400px;
  width: 400px;
  z-index: 999;
 }
.hint {
  color: gray;
}
#visitormain {
  width: 100%;
  height: 67%;
  background-repeat: no-repeat;
  background-image: url('../images/banner2.jpg');
  background-size: cover;
}

#visitormain h1 {
  color: white;
  text-align: left;
}

#newloginbutton {
  width: 20%;
  height: 5%;
  font-weight: 720;
  vertical-align: center;
  padding: 5px;
  background-color: #1a64db;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  position: absolute;
  left: 50%;
  top: 60%;
}
/*#trovcard {
  width: 200px;
}*/
