body {
  background-color: white;
  margin: 0;
}
#header {
  position: absolute;
  background-color: #FF7F50;
  left:0px; top:0px; right:0; bottom:92px;
  height: 92px;
}
#footer {
  font-family: "Whitney";
  font-size: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
#troves{
  font-family: "Gotham";
}
#troves h1 {
  font-size: 3em;
}
#troves h2 {
  font-size: 2.25em;
}
.quest p, .quest li {
  font-family: "Whitney";
  font-size: 1.25em;
}
#visitormain, #trovmain {
  position: absolute;
  text-align: center;
  left:270px; top:92px; right:0; bottom:0;
}
#sidebar {
  position:absolute;
  padding-top: 20px;
  padding-right: 35px;
  padding-right: 35px;
  text-align: center;
  background-color: #FF7F50;
  left:0; top:92px; bottom: 0;
  width: 270px;
}
#sidebar li {
  list-style: none;
  color: white;
  font-family: "Whitney";
  font-size: 1.5em;
}
#profile {
  border: 2px solid #c7b89e;
}
#profile,#profile img {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px;
	}
